<!doctype html>
<html>
  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes">
		<title>Moderator Clone</title>
    <meta charset="UTF-8">
		
		<!-- Vue library -->
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
		<main class="container main">
			<!-- Admin View -->
			<div class="row">
				<div class="col-md-12">
					<form>
						<div>
								Title: <input type="text" name="seriesTitle">
						</div>
						<div>
								Description: <input type="text" name="serierDescription">
						</div>
						<div>
								Owners of Series: <input type="text" name="serierOwners">
						</div>
						<div>
								<input type="submit" value="Submit">
								<input type="submit" value="Cancel">
						</div>
					</form>
				</div>
			</div>
			<!-- Series View -->
			<div v-if="view == 'Series'">
				<!-- Series component -->
				<series 
					v-for="series in allSeries"
					:series-title="series.title"
					:series-description="series.description"
					:series-author="series.author"
					:series-statements="series.statements"
				>
				</series>
			</div>
			<!-- Login -->
			<div>
				<div class="row">
					<div class="col-md-12">
						<p class="text-center"style="font-size:3em; margin-top:3em;">Welcome Aboard</p>
					</div>
				</div>
				<div class="row">
					<div class="text-center text-primary col-md-12">
						<p>Username: <input type="text"></input></p>
						<p>Password: <input type="Password"></input></p>

						<button class ="btn btn-block btn-primary" style="width:33%; margin: 0 auto">Enter</button>

					</div>
				</div>
			</div>
		</main>
		
		<!-- Models and Data -->
		<script src="models/series-model.js"></script>
		
		<!-- Components -->
		<script src="components/series.js"></script>
		
		<!-- App Stuff -->
    <script src="controller/app.js"></script>
		
  </body>
</html>
